/* NAVBAR FLOATING GLASSMORPHISM */
.navbar-glass {
    background: rgba(18, 18, 20, 0.65) !important; /* Transparan gelap */
    backdrop-filter: blur(16px) saturate(180%);     /* Efek blur kaca iOS */
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.1) !important; /* Border tipis halus */
    border-radius: 50px; /* Bikin melengkung berbentuk kapsul */
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    margin-top: 15px; /* Jarak dari atas layar */
}